body {
  margin: 0;
  padding: 0;
  color: #14495e;
}

.eye-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(12, 100, 137);
  z-index: 4;
}

.eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.eye {
  width: 240px;
  height: 120px;
  background: #fff;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 80px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#brand {
  color: rgb(204, 6, 6);
  font-family: 'Space Mono', monospace;
  font-style: bold;
  font-size: xx-large;
}

.Navigation {
  position: relative;
  left: 0;
  padding: 0;
  z-index: 6;
}